@model System.Web.Http.Description.IApiExplorer

 <div id="body">
 <section class="featured">
<div class="content-wrapper">
 <hgroup class="title">

                 <h1>ASP.NET Web API Help Page</h1>
             </hgroup>
         </div>
     </section>
     <section class="content-wrapper main-content clear-fix">
       <h3>APIs</h3>
         <table>
        @foreach (var api in Model.ApiDescriptions.OrderBy(o=>o.RelativePath))
        {
             <tr>
            <td><h4>@api.HttpMethod</h4></td><td><h4>@api.RelativePath</h4></td> 
            </tr>
            <tr><td></td>
            <td>
            @if (api.ParameterDescriptions.Count > 0)
            {
                 <b>Parameters:</b>
                <ul>
                @foreach (var parameter in api.ParameterDescriptions)
                {
                    <li>@parameter.Name: @parameter.Documentation (@parameter.Source)</li>
                }
                 </ul>
            }
           </td></tr>
        }
        </table>
     </section>
 </div>
